spring:
  config:
    activate:
      on-profile: prod
  datasource:
    jdbc: postgresql://comethru-postgresql:5432/postgres

security:
  auth:
    cookie:
      secure: true

logging:
  level:
    root: INFO
